<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>watch & computed</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div class="step02_page">
            <section>
                <div>
                    姓：
                    <input v-model="firstName" />
                </div>
                <div>
                    名：
                    <input v-model="lastName" />
                </div>
                <div>姓名：{{fulName}}</div>
                <div>计算：{{count}}</div>
            </section>
        </div>
    </div>

    <script src="js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    firstName: "廖",
                    lastName: "雪峰",
                    count: 0
                };
            },
            computed: {
                fulName: function () {
                    return this.firstName + " " + this.lastName;
                }
            },
            watch: {
                fulName: function () {
                    this.count++;
                }
            }
        })
    </script>
</body>

</html>