html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#app {
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
  color: red;
  margin-top: 100px;
}
.step02_page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step02_page input {
  padding: 10px;
  box-sizing: border-box;
}
.step02_page div {
  padding: 10px;
}
.step03_page {
  margin-top: 50px;
  text-align: center;
}
.step03_page button {
  padding: 10px 20px;
}
